BACKEND/Proveedor4-SOAP/src/main/webapp/wsdl/configuracionesws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ConfiguracionesWSService" targetNamespace="http://ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws/" version="1.0" xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="cancelarPedido" type="tns:cancelarPedido"/>

  <xs:element name="cancelarPedidoResponse" type="tns:cancelarPedidoResponse"/>

  <xs:element name="evaluarPedido" type="tns:evaluarPedido"/>

  <xs:element name="evaluarPedidoResponse" type="tns:evaluarPedidoResponse"/>

  <xs:element name="getConfiguracion" type="tns:getConfiguracion"/>

  <xs:element name="getConfiguracionResponse" type="tns:getConfiguracionResponse"/>

  <xs:element name="getPedido" type="tns:getPedido"/>

  <xs:element name="getPedidoResponse" type="tns:getPedidoResponse"/>

  <xs:element name="getPedidos" type="tns:getPedidos"/>

  <xs:element name="getPedidosResponse" type="tns:getPedidosResponse"/>

  <xs:element name="getProductos" type="tns:getProductos"/>

  <xs:element name="getProductosResponse" type="tns:getProductosResponse"/>

  <xs:element name="getRanking" type="tns:getRanking"/>

  <xs:element name="getRankingResponse" type="tns:getRankingResponse"/>

  <xs:element name="insertPedidos" type="tns:insertPedidos"/>

  <xs:element name="insertPedidosResponse" type="tns:insertPedidosResponse"/>

  <xs:complexType name="cancelarPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProductosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="evaluarPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="evaluarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConfiguracionResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRanking">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRankingResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPedidosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertPedidosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPedidoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="insertPedidosResponse">
    <wsdl:part name="parameters" element="tns:insertPedidosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConfiguracionResponse">
    <wsdl:part name="parameters" element="tns:getConfiguracionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRankingResponse">
    <wsdl:part name="parameters" element="tns:getRankingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductosResponse">
    <wsdl:part name="parameters" element="tns:getProductosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductos">
    <wsdl:part name="parameters" element="tns:getProductos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidos">
    <wsdl:part name="parameters" element="tns:getPedidos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidoResponse">
    <wsdl:part name="parameters" element="tns:getPedidoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedido">
    <wsdl:part name="parameters" element="tns:getPedido">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidosResponse">
    <wsdl:part name="parameters" element="tns:getPedidosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPedido">
    <wsdl:part name="parameters" element="tns:cancelarPedido">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="evaluarPedido">
    <wsdl:part name="parameters" element="tns:evaluarPedido">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="evaluarPedidoResponse">
    <wsdl:part name="parameters" element="tns:evaluarPedidoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConfiguracion">
    <wsdl:part name="parameters" element="tns:getConfiguracion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRanking">
    <wsdl:part name="parameters" element="tns:getRanking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPedidoResponse">
    <wsdl:part name="parameters" element="tns:cancelarPedidoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertPedidos">
    <wsdl:part name="parameters" element="tns:insertPedidos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConfiguracionesWS">
    <wsdl:operation name="cancelarPedido">
      <wsdl:input name="cancelarPedido" message="tns:cancelarPedido">
    </wsdl:input>
      <wsdl:output name="cancelarPedidoResponse" message="tns:cancelarPedidoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductos">
      <wsdl:input name="getProductos" message="tns:getProductos">
    </wsdl:input>
      <wsdl:output name="getProductosResponse" message="tns:getProductosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evaluarPedido">
      <wsdl:input name="evaluarPedido" message="tns:evaluarPedido">
    </wsdl:input>
      <wsdl:output name="evaluarPedidoResponse" message="tns:evaluarPedidoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfiguracion">
      <wsdl:input name="getConfiguracion" message="tns:getConfiguracion">
    </wsdl:input>
      <wsdl:output name="getConfiguracionResponse" message="tns:getConfiguracionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRanking">
      <wsdl:input name="getRanking" message="tns:getRanking">
    </wsdl:input>
      <wsdl:output name="getRankingResponse" message="tns:getRankingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedidos">
      <wsdl:input name="getPedidos" message="tns:getPedidos">
    </wsdl:input>
      <wsdl:output name="getPedidosResponse" message="tns:getPedidosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPedidos">
      <wsdl:input name="insertPedidos" message="tns:insertPedidos">
    </wsdl:input>
      <wsdl:output name="insertPedidosResponse" message="tns:insertPedidosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <wsdl:input name="getPedido" message="tns:getPedido">
    </wsdl:input>
      <wsdl:output name="getPedidoResponse" message="tns:getPedidoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfiguracionesWSServiceSoapBinding" type="tns:ConfiguracionesWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancelarPedido">
      <soap:operation soapAction="urn:CancelarPedido" style="document"/>
      <wsdl:input name="cancelarPedido">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarPedidoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductos">
      <soap:operation soapAction="urn:GetProductos" style="document"/>
      <wsdl:input name="getProductos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evaluarPedido">
      <soap:operation soapAction="urn:EvaluarPedido" style="document"/>
      <wsdl:input name="evaluarPedido">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="evaluarPedidoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfiguracion">
      <soap:operation soapAction="urn:GetConfiguracion" style="document"/>
      <wsdl:input name="getConfiguracion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConfiguracionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRanking">
      <soap:operation soapAction="urn:GetRanking" style="document"/>
      <wsdl:input name="getRanking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRankingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedidos">
      <soap:operation soapAction="urn:GetPedidos" style="document"/>
      <wsdl:input name="getPedidos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPedidosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPedidos">
      <soap:operation soapAction="urn:InsertPedidos" style="document"/>
      <wsdl:input name="insertPedidos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertPedidosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedido">
      <soap:operation soapAction="urn:GetPedido" style="document"/>
      <wsdl:input name="getPedido">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPedidoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfiguracionesWSService">
    <wsdl:port name="ConfiguracionesWSPort" binding="tns:ConfiguracionesWSServiceSoapBinding">
      <soap:address location="http://localhost:8080/Proveedor4/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
